.rcb-chat-input {
  display: flex;
  align-items: center;
  width: 100%;
}

.rcb-chat-input-textarea {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  resize: none;
  height: auto;
  min-height: 38px;
  overflow-y: scroll;
  font-family: inherit;
  background-color: #fff;
  color: #000;
  touch-action: none;
}

.rcb-chat-input-textarea::-webkit-scrollbar {
  background-color: transparent;
}

.rcb-chat-input-textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.rcb-chat-input-textarea::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
