/* Bot Messages */

.rcb-bot-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  animation-duration: 0.2s;
}

.rcb-bot-message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 8px;
}

.rcb-bot-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.rcb-bot-logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rcb-bot-message-sender-name {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.rcb-bot-message-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.rcb-bot-message {
  border-radius: 10px 10px 10px 0;
  padding: 12px 16px;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.rcb-bot-message-offset {
  margin-left: 50px;
}

.rcb-bot-message-entry {
  animation: rcb-animation-bot-message-entry 0.3s ease-in backwards;
}

.rcb-message-bot-avatar {
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 9px;
}

.rcb-message-bot-avatar {
  margin-left: 6px;
  margin-right: -10px;
}
