/* ChatBot Header */

.rcb-chat-header-container {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 60px;
}

.rcb-chat-header {
  display: flex;
  align-items: center;
  color: white;
}

.rcb-header-logo {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 50%;
}

.rcb-header-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

/* ChatBot Avatar */

.rcb-bot-avatar {
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}

/* Move header to the right on mobile */
@media (max-width: 600px) {
  .rcb-chat-header-container {
    justify-content: flex-end;
  }

  .rcb-chat-header {
    margin-left: auto; /* Push it to the right */
  }
}
