.rcb-file-attachment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 0;
  margin: 0 8px 0 0; /* right margin for spacing */
  box-sizing: border-box;

  /* Added for vertical control */
  position: relative;
  top: -39px; /* Adjust this value to move higher or lower */
}

.rcb-file-attachment-button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.rcb-file-attachment-button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.rcb-file-attachment-button img {
  width: 24px;
  height: 24px;
  filter: invert(0.5);
}
